@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@tailwind base;

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6,p,span,div {
    color:#fff
}